<%- include('../partials/_start.ejs') %>
  <link rel="stylesheet" href="/css/form.css" />
</head>
<body>
  <div class="app">
    <%- include('../partials/_header.ejs') %>

    <main class="app__main">
      <div class="container">
        <h1><%= pageTitle %></h1>

        <form class="form" action="/change-password" method="POST">  
          <div class="form__group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
          </div>

          <% if (errorMessage) { %>
            <div class="form__group form__group--error">
              <span><%= errorMessage %></span>
            </div>
          <% } %>

          <input type="hidden" name="userId" value="<%= userId %>" />
          <input type="hidden" name="resetToken" value="<%= resetToken %>" />
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

          <button type="submit">Change password</button>
        </form>
      </div>
    </main>
  </div>
<%- include('../partials/_end.ejs') %>
