<%- include('../partials/_start.ejs') %>
</head>
<body>
  <div class="app">
    <%- include('../partials/_header.ejs') %>

    <main class="app__main">
      <div class="container">
        <% if (product) { %>
          <h1><%= product.title %></h1>

          <div class="product">
            <div class="product__img">
              <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
            </div>
            <div class="product__description">
              <p class="product__description"><%= product.description %></p>
              <h2 class="product__price">$ <%= product.price %></h2>

              <% if (isAuthenticated) { %>
                <%- include('../partials/_add-to-cart-form.ejs') %>
              <% } %>
            </div>
          </div>
        <% } else { %>
          <h1>No product</h1>
          <p>Sorry, this product has either been removed or does not exist.</p>
        <% } %>
      </div>
    </main>
  </div>
<%- include('../partials/_end.ejs') %>
