<header class="app__header">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="/" class="<%= slug === 'shop' ? 'active' : '' %>">Shop</a>
        </li>
  
        <li>
          <a href="/products" class="<%= slug === 'products' ? 'active' : '' %>">Products</a>
        </li>

        <% if (isAuthenticated) { %>
        <li>
          <a href="/cart" class="<%= slug === 'cart' ? 'active' : '' %>">Cart</a>
        </li>

        <li>
          <a href="/orders" class="<%= slug === 'orders' ? 'active' : '' %>">Orders</a>
        </li>

        <li>
          <a href="/admin/add-product/" class="<%= slug === 'add-product' ? 'active' : '' %>">Add Product</a>
        </li>
  
        <li>
          <a href="/admin/products" class="<%= slug === 'view-products' ? 'active' : '' %>">Admin Products</a>
        </li>
        <% } %>

        <% if (!isAuthenticated) { %>
        <li class="login">
          <a href="/login" class="<%= slug === 'login' ? 'active' : '' %>">Login</a>
        </li>
        <li>
          <a href="/signup" class="<%= slug === 'signup' ? 'active' : '' %>">Signup</a>
        </li>
        <% } else { %>
        <li>
          <form action="/logout" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button type="submit">Logout</button>
          </form>
        </li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>
